
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalBold.woff2") format("woff2"),
       url("Adelphe-GerminalBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalBoldItalic.woff2") format("woff2"),
       url("Adelphe-GerminalBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalItalic.woff2") format("woff2"),
       url("Adelphe-GerminalItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalRegular.woff2") format("woff2"),
       url("Adelphe-GerminalRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalSemiBold.woff2") format("woff2"),
       url("Adelphe-GerminalSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe";
  src: url("Adelphe-GerminalSemiBoldItalic.woff2") format("woff2"),
       url("Adelphe-GerminalSemiBoldItalic.woff2") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealBold.woff2") format("woff2"),
       url("Adelphe-FlorealBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealBoldItalic.woff2") format("woff2"),
       url("Adelphe-FlorealBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealItalic.woff2") format("woff2"),
       url("Adelphe-FlorealItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealRegular.woff2") format("woff2"),
       url("Adelphe-FlorealRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealSemiBold.woff2") format("woff2"),
       url("Adelphe-FlorealSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Floreal";
  src: url("Adelphe-FlorealSemiBoldItalic.woff2") format("woff2"),
       url("Adelphe-FlorealSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorBold.woff2") format("woff2"),
       url("Adelphe-FructidorBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorBoldItalic.woff2") format("woff2"),
       url("Adelphe-FructidorBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorItalic.woff2") format("woff2"),
       url("Adelphe-FructidorItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorRegular.woff2") format("woff2"),
       url("Adelphe-FructidorRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorSemiBold.woff2") format("woff2"),
       url("Adelphe-FructidorSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Adelphe Fructidor";
  src: url("Adelphe-FructidorSemiBoldItalic.woff2") format("woff2"),
       url("Adelphe-FructidorSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}