/*    ALTAR FONTS     */
/*    find.altarspace.info    */

/*                                                        Body (variable sans serif)   */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400 700;
  font-display: block ;
  src: url('Cabin-VariableFont_wdth,wght.woff2') format('woff2-variations');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400 700;
  font-display: block ;
  src: url('Cabin-Italic-VariableFont_wdth,wght.woff2') format('woff2-variations');
}
